<div class="flex-row gap-1">
  <div class="relative">
    <div class="flex-row gap-05 stretch fixed-width" (click)="changeState()">
      <span> Menu </span>
      <div [ngSwitch]="selectState">
        <span *ngSwitchCase="'close'">▼</span>
        <span *ngSwitchDefault>▲</span>
      </div>
    </div>
    <div class="absolute" *ngIf="selectState === 'open'">
        <ul class="body flex-col gap-05">
          <li class="btn-primary" (click)="navigate('landing')"> {{'route.landing' | translate}} </li>
          <li class="btn-primary" (click)="navigate('about')"> {{'route.about' | translate}} </li>
          <li class="btn-primary" (click)="navigate('skills')"> {{'route.skills' | translate}} </li>
          <li class="btn-primary" (click)="navigate('education')"> {{'route.education' | translate}} </li>
          <li class="btn-primary" (click)="navigate('experience')"> {{'route.experience' | translate}} </li>
          <li class="btn-primary" (click)="navigate('projects')"> {{'route.projects' | translate}} </li>
          <!-- <li class="btn-primary" (click)="navigate('interests')"> Zainteresowania </li> -->
          <li class="btn-primary" (click)="navigate('contact')"> {{'route.contact' | translate}} </li>
        </ul>
      </div>
    </div>
</div>
