<h1><strong>{{ 'route.contact' | translate }}</strong></h1>

<h1 class="white sub"> {{ 'contact.data' | translate }} </h1>
<p class="white"> Amadeusz Janiszyn</p>
<p class="white"> janiszyn.amadeusz@gmail.com</p>
<p class="white"> +48 790 890 248</p>
<div class="spacer"></div>
<h1 class="white sub"> {{ 'contact.social' | translate }}: </h1>
<p class="white"> <span class="bold"> LinkedIn: </span> <a href="https://www.linkedin.com/in/amadeusz-janiszyn/" target="_blank" class="link">/amadeusz-janiszyn </a></p>
<p class="white"> <span class="bold"> Github:   </span> <a href="https://github.com/Kethableez" target="_blank" class="link">/Kethableez</a></p>

<div class="spacer"></div>
<p class="white"> {{ 'contact.help.msg' | translate }}</p>
<p class="white"> {{ 'contact.help.wget' | translate }}</p>
<div class="spacer"></div>
