<div class="flexy row gap">
  <div>
    <p class="is-24 is-white">Web</p>
    <ng-container *ngFor="let skill of web">
      <ktbz-skill [skill]="skill" [prefix]="'skill.web'"></ktbz-skill>
    </ng-container>
  </div>

  <div>
    <p class="is-24 is-white">Języki programowania</p>
    <ng-container *ngFor="let skill of programmingLanguages">
      <ktbz-skill [skill]="skill" [prefix]="'skill.plang'"></ktbz-skill>
    </ng-container>
  </div>

  <div>
    <p class="is-24 is-white">Języki</p>
    <ng-container *ngFor="let skill of languages">
      <ktbz-skill [skill]="skill" [prefix]="'skill.lang'"></ktbz-skill>
    </ng-container>
  </div>
</div>
