.flexy {
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #496ca0;
}

p {
  color: white;
}

i {
  color: white;
}

.ml {
  margin-left: 1rem;
}

.mb {
  margin-bottom: 1rem;
}
