.ml {
  margin-left: 15rem;
}

.center {
  justify-content: center;
}

ktbz-image {
  flex: 1 0 0;
}

.mx {
  margin-left: 15rem;
  margin-right: 8rem;
}

// .about {
//   width: 80%;
// }

.gap {
  gap: 2rem;
}

.section {
  flex: 2 0 0;
}
