<div class="flexy column container center">
  <div [ngClass]="background"></div>
  <ktbz-blobs [blobs]="blobs"></ktbz-blobs>
  <div class="ml flexy row gap">
    <ktbz-image [image]="'photo-2'"></ktbz-image>

    <div class="flexy column">
      <section class="about">
        <h1 class="is-48 is-white underline">
          {{ getLabel('summary.header') | translate }}
        </h1>
        <p class="is-16 is-white">
          {{ getLabel('summary.paragraph')  | translate }}
        </p>
      </section>
      <section class="skills">
        <h1 class="is-48 is-white underline">
          {{ getLabel('skills.header')  | translate }}
        </h1>
        <ktbz-skills></ktbz-skills>
      </section>
    </div>
  </div>
</div>
