<div class="flexy column center container">
  <div [ngClass]="background"></div>
  <ktbz-blobs [blobs]="blobs"></ktbz-blobs>

  <div class="content flexy column gap stretch">
    <h1 class="ml is-48 underline is-white">
      {{ getLabel("header") | translate }}
    </h1>

    <div class="relative h-70 flexy row gap stretch mx">

      <ng-container *ngIf="selectedExperience | async as experience">
        <div [@openDetails]="detailsOpen ? 'expanded' : 'collapsed'" class="details absolute">
          <ktbz-experience-details
            [experience]="experience"
            [contentVisible] = "detailsOpen"
            (clear)="clear()"
          ></ktbz-experience-details>
        </div>
      </ng-container>


        <ng-container *ngFor="let experience of experiences | async">
          <ktbz-exp-box
            [prefix]="prefix"
            [experience]="experience"
          ></ktbz-exp-box>
        </ng-container>
    </div>

    <div class="whitespace">
      <p class="is-12 is-white"> {{ getLabel('app.tip.label', true) | translate }} </p>
    </div>
  </div>
</div>
