<div class="flexy column container center">
  <div [ngClass]="background"></div>
  <ktbz-blobs [blobs]="blobs"></ktbz-blobs>
  <div class="content flexy column gap stretch">
    <h1 class="ml is-48 underline is-white">
      {{ getLabel("header") | translate }}
    </h1>

    <div class="relative h-70 flexy row gap stretch mx">
      <ng-container *ngIf="selectedEducation$ | async as education">
      <div [@openDetails]="detailsOpen ? 'expanded' : 'collapsed'" class="details absolute">
        <ktbz-education-details
          [education]="education"
          [contentVisible] = "detailsOpen"
          (clear)="clear()"
        ></ktbz-education-details>
      </div>
    </ng-container>

      <ng-container *ngFor="let education of educations | async">
        <ktbz-edu-box
          [prefix]="prefix"
          [education]="education"
        ></ktbz-edu-box>
      </ng-container>
    </div>

    <div class="whitespace"></div>

  </div>
</div>
