.gap {
  gap: 2rem;
}

.center {
  justify-content: center;
}

.positioned {
  transform: translateY(-5rem);
}

.stretch {
  justify-content: space-between;

}

ktbz-project-box {
  width: 30%;
}

.mx {
  margin-left: 15rem;
  margin-right: 8rem;
}

.ml {
  margin-left: 15rem;

}

.mt {
  margin-top: 8rem;
}
