<h1><strong>{{ 'project.header' | translate }}</strong></h1>
<ng-container *ngFor="let project of projects; let i = index">
  <div class="flex-row gap-1 cursor" (click)="openDisplay(project.id)">
    <span class="white bold">{{ i + 1}}.</span>
    <div>
      <p class="white bold"> {{ project.name | translate}} </p>
      <p class="white"> {{ project.type | translate}} </p>
      <a class="white link" [href]="project.link" target="_blank"> {{ project.link }} </a>
    </div>
  </div>
  <div class="spacer"></div>
</ng-container>

<p class="white italic"> {{ 'app.hint' | translate: { command: hint} }}</p>
