<!-- <ktbz-progress-bar [value]="10" [max]="100" [displayPercent]="true"></ktbz-progress-bar> -->
<router-outlet></router-outlet>
<div class="content" *ngIf="commands$ | async as commands">
  <ng-container *ngFor="let command of commands">
    <div [ngSwitch]="command.commandType">
      <div *ngSwitchCase="CommandType.LS">
        <div class="flex-row wrap column-gap-1">
          <p *ngFor="let route of command.content" class="bold white link">
            {{ route | translate }}
          </p>
        </div>
      </div>

      <div *ngSwitchCase="CommandType.HELP">
        <ng-container *ngIf="command.content.length === 1; else commands">
          <div *ngIf="command.content[0] as content">
            <div class="flex-row">
              <p class="white fixed-width-small"> {{ content.command | translate }} </p>
              <span class="white"> - {{ content.description | translate }} </span>
            </div>

            <div class="flex-row">
              <p class="white fixed-width-small"> {{ "help.usage" | translate }} </p>
              <span class="white"> {{ content.usage | translate }} </span>
            </div>
          </div>
        </ng-container>
        <ng-template #commands>
          <div *ngFor="let content of command.content" class="flex-row">
            <p class="white fixed-width-small"> {{ content.command | translate }} </p>
            <span class="white"> - {{ content.description | translate }} </span>
          </div>
        </ng-template>
      </div>

      <div *ngSwitchCase="CommandType.CD">
        <p class="bold white">
          {{ command.content }}
        </p>
      </div>

      <div *ngSwitchCase="CommandType.NOT_FOUND">
        <p class="bold white">
          {{ "command.notfound" | translate: { command: command.content } }}
        </p>
      </div>

      <div *ngSwitchDefault>
        <p class="bold white">{{ command.content }}</p>
      </div>
    </div>
  </ng-container>
</div>
