@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nova+Mono&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

@font-face {
  font-family: "LackRegular";
  src: url("assets/fonts/lack/Lack-Regular.woff") format("woff"),
    url("assets/fonts/lack/Lack-Regular.woff2") format("woff2");
}

$primary: #496ca0;
$secondary: #49a078;

$background_primary_light: #fcf7f8;
$background_primary_dark: #020202;
$background_secondary_light: #c6c2c3;
$background_secondary_dark: #454648;

$text-dark: #fcf7f8;
$text-light: #020202;

$font-main: "LackRegular", Fallback, sans-serif;
$font-secondary: "Source Sans Pro", sans-serif;

html,
* {
  margin: 0;
  padding: 0;
  // overflow: hidden;
}

.scroll {
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

a {
  font-style: italic;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.scroll::-webkit-scrollbar {
  width: 0;
}

.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.bullet {
  width: 12px;
  height: 12px;
  border-radius: 5px;
  margin: 0 4px;
  transition: 0.2s ease-in-out;
}

.visually-hidden {
  transition: 0.1s ease-in-out;
}

.lang {
  cursor: pointer;
  border-radius: 5px;
  margin: 0 4px;
  padding: 0 5px;
  font-size: 8px;
  font-family: "Martel Sans", sans-serif;
  transition: 0.2s ease-in-out;
}

.light {
  .scroll::-webkit-scrollbar-track {
    background-color: $background_secondary_light;
  }

  .bullet {
    border: 2px solid $text-light;
  }

  .fill {
    background-color: $text-light;
  }

  .lang {
    border: 2px solid $text-light;
    color: $text-light;
  }

  .lang:hover {
    background-color: $text-light;
    color: $text-dark;
  }

  .bg-light {
    background: $background_primary_light;
  }
  .bg-light {
    background: $background_secondary_light;
  }

  .background-light {
    background-color: $background_secondary_light;
  }

  .background-dark {
    background-color: $background_primary_light;
  }

  .is-white {
    color: $text-light;
  }

  .is-black {
    color: $text-dark;
  }
}

.dark {
  .scroll::-webkit-scrollbar-track {
    background-color: $background_secondary_dark;
  }

  .bullet {
    border: 2px solid $text-dark;
  }

  .lang {
    border: 2px solid $text-dark;
    color: $text-dark;
  }

  .lang:hover {
    background-color: $text-dark;
    color: $text-light;
  }

  .fill {
    background-color: $text-dark;
  }

  .bg-dark {
    background: $background_primary_dark;
  }
  .bg-light {
    background: $background_secondary_dark;
  }

  .background-light {
    background-color: $background_secondary_dark;
  }

  .background-dark {
    background-color: $background_primary_dark;
  }

  .is-white {
    color: $text-dark;
  }

  .is-black {
    color: $text-light;
  }
}

.box {
  position: relative;
  padding: 2rem;
  max-width: 100%;
  border-radius: 25px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: $primary;
}

.blob {
  position: absolute;
  width: fit-content;
  height: fit-content;
  fill: $primary;
  z-index: -1;
}

.flexy {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

h1 {
  font-family: $font-main;
  font-weight: 300;
}

p,
label {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.is-12 {
  font-size: 12px;
}

.is-16 {
  font-size: 1rem;
}

.is-24 {
  font-size: 1.5rem;
}

.is-32 {
  font-size: 2rem;
}

.is-48 {
  font-size: 2.5rem;
}

.is-64 {
  font-size: 3rem;
}

.is-primary {
  color: $primary;
}

.is-secondary {
  color: $secondary;
}

.underline {
  width: fit-content;
  border-bottom: 5px solid $secondary;
}

.container {
  scroll-snap-align: start;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.up {
  top: 0;
}

.down {
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.bg-dark {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.button {
  display: flex;
  width: fit-content;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  border-radius: 15px;
  background-color: $secondary;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  p {
    font-family: $font-main;
    font-weight: 300;
  }
}

.button:hover {
  background-color: #2d6d4f;
}

input,
textarea {
  background-color: $text-dark;
  border: none;
  border-radius: 5px;
  font-family: $font-secondary;
  font-weight: 300;
  padding: 0.25rem 0.5rem;
  font-size: 24px;
  resize: none;
  outline: none;
}

button {
  outline: none;
  border: none;
}

.bg-light {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100vw;
  height: 100vh;
}

.progress {
  position: relative;
  width: 10rem;
  height: 0.5rem;

  .progress-bar {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $secondary;
    height: 100%;
    // border-radius: 0;
    // transition: width 0.2s ease-in-out;
  }

  .progress-bg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $text-dark;
    border-radius: 0;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 0;
}

.details {
  z-index: 10;
  width: 100%;
  height: 100%;
}

.h-70 {
  height: 70%;
}

ktbz-edu-box,
ktbz-exp-box,
ktbz-project-box {
  margin: auto;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.mx {
  margin-left: 15rem;
  margin-right: 8rem;
}

.ml {
  margin-left: 15rem;

}

.mt {
  margin-top: 8rem;
}


ktbz-edu-box:hover,
ktbz-exp-box:hover,
ktbz-project-box:hover  {
  transform: scale(1.1);
}


ktbz-navigation {
  position: absolute;
  top: 1.5rem;
  right: 8rem;
  z-index: 100;
}

ktbz-projects {
  z-index: 0;
}

ktbz-image {
  // margin: auto;
}

.gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 20px;
  background: linear-gradient(
    209.18deg,
    rgba(73, 108, 160, 0.2) 0%,
    rgba(73, 160, 120, 0.2) 100%
  );
  backdrop-filter: blur(50px);
}

.image {
  border-radius: 20px;
  position: relative;
  background-color: #454648;
}

.whitespace {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.w-30 {
  width: 30%;
}

.details {
  border-radius: 25px;
  flex-grow: 1;
  padding: 1rem;
  background-color: #f5f5f5;
}

.is-button {
  position: absolute;
  // top: 1rem;
  cursor: pointer;
  right: 1rem;
}

.message {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ktbz-exp-box,
ktbz-edu-box,
ktbz-project-box {
  min-width: 450px;
}

.content {
  height: 70%;
}
