@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

$primary: #496ca0;
$dark-grey: #414141;
$light-grey: #6b6b6b;

$secondary: #49a078;
$text-white: #fcf7f8;
$text-black: #020202;

$font: "Fira Code", monospace;

html,
* {
  margin: 0;
  padding: 0;
  font-family: $font;
  scrollbar-width: none;
  scrollbar-color: #6b6b6b #414141;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

.span-10 {
  width: 10rem;
}

*::-webkit-scrollbar-track {
  background: #414141;
}

*::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  border-radius: 10px;
  border: 0px none #ffffff;
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.bg-mesh {
  background-image: url("assets/images/mesh-bg.png");
  background-size: cover;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
}

.stretch {
  justify-content: space-between;
  align-items: center;
}

.header-stretch {
  justify-content: space-between;
  align-items: center;

}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hidden {
  opacity: 0;
  .button {
    cursor: default !important;
  }
}

a {
  transition: 0.2s ease-in-out;
  &:hover {
    letter-spacing: 0.05rem;
  }
  &:visited {
    color: $text-white;
  }
}
.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.column-gap-05 {
  column-gap: 0.5rem;
}

.column-gap-1 {
  column-gap: 1rem;
}

.column-gap-2 {
  column-gap: 2rem;
}

.w-10 {
  min-width: 5rem;
}

h1 {
  font-size: 1.5rem;
}

.sub {
  font-size: 1.25rem;
}

.spacer {
  height: 1rem;
}

.btn-primary {
  padding: .2rem 0;
  text-align: center;
  background-color: $light-grey;
  color: $text-white;
  border: 1px solid $light-grey;
  border-radius: 7px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.1s ease-in-out;

  &:hover {
    background-color: $dark-grey;
  }
}

ktbz-skills {
  ktbz-progress-bar {
    max-width: 20rem;
    min-width: 5rem;
  }
}

ktbz-progress-bar {
  min-width: 5rem;
  flex-grow: 1;
  // margin: 1rem 0;
  // width: fit-content;
}

.wrap {
  flex-wrap: wrap;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.white {
  color: $text-white;
}

.black {
  color: $text-black;
}

.primary {
  color: $primary;
}

input {
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: unset;
}

.btn-red {
  background-color: rgb(177, 61, 61);
}

.btn-green {
  background-color: rgb(61, 177, 61);
}

.btn-orange {
  background-color: rgb(177, 167, 61);
}

strong {
  color: $primary;
}

ktbz-navigation {
  position: absolute;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

ktbz-terminal,
ktbz-display {
  border: 1px solid $light-grey;
  border-radius: 7px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);

  .header {
    padding: 0.1rem 0.25rem;
    background-color: $light-grey;
    border-radius: 5px 5px 0 0;
    color: $text-white;

    .button {
      cursor: pointer;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 5px;
    }
  }

  .body {
    padding: 1rem;
    border-radius: 0 0 5px 5px;
    flex: 1 1 auto;
    overflow-y: auto;
  }
}

@media (min-width: 1201px) {
  ktbz-select {
    .fixed-width {
      width: 3rem;
    }
  }

  .fixed-width {
    width: 15rem;
  }

  .fixed-width-small {
    width: 5rem;
    min-width: 5rem;
    max-width: 5rem;
  }

  ktbz-navigation {
    top: 0;
    left: 0;


    .header {
      padding: 0.1rem 0.25rem;
      background-color: $light-grey;
      color: $text-white;
    }
  }

  // ktbz-navigation {
  //   width: 15%;
  //   height: calc(100vw * 0.5 / 4 * 3);
  //   .body {
  //     background-color: $text-white;
  //     height: 20rem;

  //   }
  // }

  ktbz-terminal {
    height: calc(100vw * 0.5 / 4 * 3);
    width: 50%;

    .header-stretch {
      justify-content: space-between;
      align-items: center;
    }

    .body {
      background-color: $dark-grey;
    }
  }

  ktbz-display {
    width: 30%;
    height: calc(100vw * 0.5 / 4 * 3);
    .body {
      background-color: $text-white;
    }
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  ktbz-select {
    .fixed-width {
      width: 3rem;
    }
  }

  ktbz-menu {
    .fixed-width {
      width: 15rem;
    }
  }

  .fixed-width {
    width: 7rem;
  }
  .fixed-width-small {
    width: 5rem;
    min-width: 5rem;
    max-width: 5rem;
  }

  // ktbz-navigation {
  //   width: 15%;
  //   height: calc(100vw * 0.8 / 4 * 3);
  //   .body {
  //     background-color: $text-white;
  //     height: 20rem;
  //     padding: 1rem 0;
  //   }
  //   .btn-primary {
  //     font-size: 0.8rem;
  //   }
  // }
  ktbz-navigation {
    top: 0;
    left: 0;


    .header {
      padding: 0.1rem 0.25rem;
      background-color: $light-grey;
      color: $text-white;
    }
  }


  ktbz-terminal {
    height: calc(100vw * 0.8 / 4 * 3);
    width: 80%;

    .body {
      background-color: $dark-grey;
      height: 30rem;
    }
  }

  ktbz-display {
    width: 50%;
    height: calc(100vw * 0.8 / 4 * 3);
    .body {
      background-color: $text-white;
    }
  }
}

ktbz-select,
ktbz-menu {
  .relative{
    user-select: none;
    position: relative;
    cursor: pointer;
  }

  .absolute {
    width: 100%;
    color: $text-black;
    user-select: none;
    position: absolute;
    top: 100%;
    cursor: pointer;
  }

  .option {
    &:hover {
      background-color: $primary;
      color: $text-white;
    }
  }
}

ktbz-select {
  .absolute {
    border: 1px solid $light-grey;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 7px 7px;
    background-color: $text-white;
    color: $text-black;
  }
}

ktbz-menu {
  .body {
    padding: 1rem;
    border: 1px solid $light-grey;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 7px 7px;
    background-color: $text-white;
  }
}

ul {
  list-style-type: none;
}
@media (max-width: 800px) and (min-width: 280px) and (orientation: portrait) {
  p,
  .title,
  input,
  span {
    font-size: 0.7rem;
  }

  ktbz-select,
  ktbz-menu {
    font-size: 0.7rem;
  .absolute {
    top: 0;
    transform: translateY(calc(-1 * (100% + 0.1rem)));
  }
}

ktbz-select {
  .absolute {
    border-radius: 7px 7px 0 0;
  }
}

ktbz-menu {
  .fixed-width {
    width: 7rem;
  }

  .body {
    padding: 0;
    border-radius: 7px 7px 0 0;
  }
  .gap-05 {
    gap: 0.1rem;
  }
}

.btn-primary {
  padding:0;
  text-align: center;
  border-radius: 0;
  box-shadow: none;
}

  .fixed-width {
    width: 5rem;
  }

  .fixed-width-small {
    width: 5rem;
    min-width: 5rem;
    max-width: 5rem;
  }

  .flex-page {
    flex-direction: column;
    gap: 0;
    height: 100vh;
  }

  ktbz-terminal {
    flex-grow: 1;
    .header-stretch {
      justify-content: center;
      align-items: center;

    }

    .buttons {
      visibility: hidden !important;
      display: none;
    }
    .body {
      background-color: $dark-grey;
      height: 20px;
    }
  }

  ktbz-display {
    flex-grow: 3;
    .body {
      background-color: $text-white;
    }
  }

  ktbz-navigation {
    position: unset;

    .header {
      padding: 0.1rem 0.25rem;
      background-color: $light-grey;
      color: $text-white;
    }
  }

  ktbz-terminal,
  ktbz-display {
    width: 100%;
    border: 0px;
    border-radius: 0px;

    .header {
      border-radius: 0px;
    }

    .body {

      border-radius: 0px;

    }
  }
}

@media (max-width: 800px) and (min-width: 280px) and (orientation: landscape) {
  p,
  .title,
  input,
  span {
    font-size: 0.7rem;
  }

  ktbz-select,
  ktbz-menu {
    font-size: 0.7rem;
  .absolute {
    top: 0;
    transform: translateY(calc(-1 * (100% + 0.1rem)));
  }
}

ktbz-navigation {
  position: unset;

  .header {
    padding: 0.1rem 0.25rem;
    background-color: $light-grey;
    color: $text-white;
  }
}

ktbz-select {
  .absolute {
    border-radius: 7px 7px 0 0;
  }
}

ktbz-menu {
  .fixed-width {
    width: 7rem;
  }

  .body {
    padding: 0;
    border-radius: 7px 7px 0 0;
  }
  .gap-05 {
    gap: 0.1rem;
  }
}

.btn-primary {
  padding:0;
  text-align: center;
  border-radius: 0;
  box-shadow: none;
}

  .fixed-width {
    width: 5rem;
  }

  .fixed-width-small {
    width: 5rem;
    min-width: 5rem;
    max-width: 5rem;
  }

  .flex-page {
    flex-direction: row;
    gap: 0;
    height: 100vh;
  }

  ktbz-terminal {
    flex-grow: 1;
    height: 100%;

    .header-stretch {
      justify-content: space-between;
      align-items: center;
    }

    .buttons {
      visibility: hidden !important;
      display: none;
    }
    .body {
      background-color: $dark-grey;
      height: 20px;
    }
  }

  ktbz-display {
    flex-grow: 1;
    height: 100%;

    .body {
      background-color: $text-white;
    }
  }

  ktbz-terminal,
  ktbz-display {
    border: 0px;
    border-radius: 0px;

    .header {
      border-radius: 0px;
    }

    .body {

      border-radius: 0px;

    }
  }
}

