.bullet {
  width: 12px;
  height: 12px;
  border-radius: 5px;
  border: 1px solid #fff;
  margin: 0 4px;
}

.lang {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #fff;
  margin: 0 4px;
  padding: 0 5px;
  font-size: 8px;
  font-family: "Martel Sans", sans-serif;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.lang:hover {
  background-color: #fff;
  color: #000;
}

.flexy {
  justify-content: center;
  align-items: center;
}
