<div class="flexy row">
  <div
    class="flexy row"
    [ngClass]="currentPage === PageType.LANDING ? 'visually-hidden' : ''"
  >
    <div class="bullet" [ngClass]="isFilled(PageType.ABOUT)"></div>
    <div class="bullet" [ngClass]="isFilled(PageType.EDUCATION)"></div>
    <div class="bullet" [ngClass]="isFilled(PageType.EXPERIENCE)"></div>
    <div class="bullet" [ngClass]="isFilled(PageType.PROJECTS)"></div>
    <div class="bullet" [ngClass]="isFilled(PageType.CONTACT)"></div>
  </div>
  <div class="lang" (click)="changeLang()">{{ "app.lang" | translate }}</div>
  <div *ngIf="theme$ | async as theme">
    <div [ngSwitch]="theme" (click)="changeTheme(theme)">
      <div *ngSwitchCase="'light'">
        <i class="is-white fa-solid fa-sun"></i>
      </div>
      <div *ngSwitchCase="'dark'">
        <i class="is-white fa-solid fa-moon"></i>
      </div>
    </div>
  </div>
</div>
